/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

/* ************************** HEADER ************************** */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 19px;
}

header ul {
  display: flex;
  gap: 100px;
  /* parce que la liste est vraiment "collée au bord haut donc il faut enlever la marge de base" */
  margin-top: 0;
}

header li {
  list-style: none;
  cursor: pointer;
}

header li:before {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--main-color);
  display: block;
  opacity: 0;
  transition: all 0.2s;
  position: top;
  margin-bottom: 10px;
}

header li:hover {
  color: var(--main-color);
}

header li:hover::before {
  opacity: 1;
}
/* ************************** FORMULAIRE RECHERCHE ************************** */
form {
  display: inline-flex;
  height: 40px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--main-bg-color);
}

.fa-location-dot {
  color: rgb(25, 25, 25);
  background-color: var(--main-bg-color);
  border-radius: 10 10 10 0;
  padding: 15px;
  display: flex;
  align-items: center;
}

form input {
  font-weight: bold;
  padding-left: 10px;
  height: 100%;
  border: none;
  /* Pour ne pas que ça mette la bordure de base en gras quand on clique dedans */
  outline: none;
}

.bouton-rechercher {
  background-color: #0065fc;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

/* ************************** FILTRES ************************** */

.filtres {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px 0 15px 0;
}

.un-filtre {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-bg-color);
  border-radius: 25px;
  padding: 10px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.un-filtre:hover {
  background-color: var(--filter-bg-color);
}

.un-filtre h3 {
  margin: 10px;
  user-select: none;
}

/* ************************** INFO ************************** */

.info-ville {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info-ville i {
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.info-ville .fa-info {
  transform: scale(0.6);
}
/* ************************** INFO FIN ************************** */

/* un-filtre .main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
} */

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  /* PARCE QUE c'est le a qui entoure toutes les cards donc c'est lui qui applique le flex */
  display: flex;
  /* pour que les cards passent à la ligne suivante s'il n'y a pas assez de place */
  flex-wrap: wrap;
  justify-content: space-around;
}

.hebergements-cards a {
  cursor: pointer;
  width: 30%;
}

.hebergements-cards .card {
  /* DISPLAY FLEX TRES IMPORTANT POUR LA BONNE REPARTITION DES ELEMENTS DEDANS */
  display: flex;
  flex-direction: column;

  margin: 33px 0;
  width: 100%;
  /* TRES IMPORTANT DE DEFINIR UNE HAUTEUR SINON LA TAILLE DE LA CARTE CHANGE QUAND LE TEXTE VA A LA LIGNE */
  height: 210px;
  /* BOX SIZING BORDER BOX TRES IMPORTANT POUR QUE LA CARTE NE DEPASSE PAS DU a DONC UN BON PAS PRIS EN COMPTE */
  box-sizing: border-box;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* il faut utiliser object fit après avoir rencontré un problème apparemment mais je ne vois pas quoi */
  /* object-fit: cover; */
}

.hebergements-cards .card-content {
  padding-left: 15px;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* ************************** Activités ************************** */

.activites {
  margin-top: 60px;
  margin-bottom: 60px;
}

.activites-cards {
  display: flex;
  justify-content: space-around;
  /* gap: 120px; */
}
.activites-cards a {
  /* SI TU VEUX APPLIQUER UNE WIDTH A UNE BALISE a IL FAUT DISPLAY BLOCK ET PAS INLINE */
  /* ça fonctionne ici parce que t'as appliqué un display flex avant */
  width: 20%;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  margin: 33px 0;
  height: 439px;
  /* PADDING 0 POUR RETIRER L'EFFET DE BORDURE BLANCHE */
  padding: 0;
  box-sizing: border-box;
}

.activites-cards img {
  /* object-fit: cover; */
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .card-content {
  padding-left: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
